.product-sort {
  display: flex;

  align-items: center;

  gap: 15px;

  margin-bottom: 30px;

  justify-content: flex-end;
}

.product-sort label {
  font-weight: 600;
}

.product-sort select {
  padding: 10px 15px;

  border-radius: 8px;

  border: 1px solid #ddd;

  cursor: pointer;

  outline: none;

  font-size: 15px;

  background: white;
}

.product-sort select:focus {
  border-color: #8b5e3c;
}
