.product-search {
  width: 100%;

  display: flex;
  align-items: center;

  background: white;

  border: 1px solid #e5e5e5;

  border-radius: 14px;

  padding: 14px 18px;

  margin-bottom: 25px;

  transition: 0.3s;
}

.product-search:focus-within {
  border-color: #8b5e3c;

  box-shadow: 0 0 0 3px rgba(139, 94, 60, 0.1);
}

.search-icon {
  font-size: 22px;

  color: #8b5e3c;

  margin-right: 12px;
}

.product-search input {
  flex: 1;

  border: none;

  outline: none;

  font-size: 16px;

  color: #333;
}

.product-search input::placeholder {
  color: #999;
}

.clear-search {
  border: none;

  background: transparent;

  cursor: pointer;

  font-size: 20px;

  color: #777;

  display: flex;
  align-items: center;
}

.clear-search:hover {
  color: #8b5e3c;
}
